@use "../../../styles/variables" as vars;

.container {
  background-color: vars.$card-bg-color-dark;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  color: #fff;

  input,
  textarea,
  select {
    color: #000;
    background-color: #fff;
  }

  .btn {
    color: #fff;
  }
  input[type="radio"],
  input[type="checkbox"] {
    // accent-color: #0d6efd;
    appearance: auto;
  }

  .text-muted {
    color: rgba(255, 255, 255, 0.6) !important;
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  .form-card {
    flex: 1 1 45%;
    max-width: 500px;
  }
}
