@use '../../../styles/variables' as vars;

.cardDiv {
  background-color: vars.$card-bg-color;
  margin: 0.25rem auto;
  padding: 1rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  @media (min-width: 768px) {
    margin: 1rem auto;
    max-width: 90%;
  }

}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.textDiv {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: white;
  text-shadow: 2px 2px 5px rgb(158, 188, 192);
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

p {
  color: white;
  text-align: justify;
}