@use '../../../styles/variables' as vars;

p {
  margin: 0;
}

footer {
  background-color: vars.$nav-background-color !important;
  color: vars.$nav-color !important;
  font-size: 0.9rem;
  min-height: 56px;
  max-height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
}