nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

li {
  font-size: large;
  flex: 1;
  display: inline-block;
}

a:link,
a:visited {
  background-color: rgb(88, 100, 121);
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
}

a:hover,
a:active {
  background-color: rgb(143, 145, 161);
  transition: background-color 0.5s;
}

.active-link {
  background-color: rgb(143, 145, 161) !important;
}
