@use "../../../styles/variables" as vars;

.navbar-nav .nav-link {
  min-width: 120px;
  text-align: center;
}

.nav-link.active {
  background-color: vars.$card-bg-color;
}

.nav-link:hover {
  background-color: vars.$card-bg-color;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.dropdown-item.active {
  background-color: vars.$card-bg-color;
}

.nav-centered-lg {
  @media (min-width: 992px) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
