div {
  height: 100%;
}
h1,
p {
  text-align: center;
  margin: 0.25rem;
  padding: 0;
  font-weight: normal;
}
h1 {
  color: white;
}
p {
  color: lightgray;
}

.wip-image {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
