@use '../../../styles/variables' as vars;

.timeline {
  border-left: 2px solid vars.$cv-color-light;
  padding: 1rem 0;
}

.about-description {
  text-align: justify;
  text-justify: inter-word;
}

.timeline-card {
  position: relative;
  margin-left: 31px;
  border-left: 2px solid;
  margin-bottom: 2rem;
}

.timeline-card:last-child {
  margin-bottom: 1rem;
}

.progress-bar {
  background-color: lighten(vars.$cv-color-primary, 10%);
}

.timeline-card:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: vars.$cv-color-light;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 20px;
  left: -41px;
  border: 2px solid;
  z-index: 2;
}

.timeline-card:after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: currentColor;
  width: 29px;
  height: 2px;
  top: 25px;
  left: -29px;
  z-index: 1;
}

.timeline-card-primary {
  border-left-color: vars.$cv-color-primary;
}

.timeline-card-primary:before {
  border-color: vars.$cv-color-primary;
}

.timeline-card-primary:after {
  background-color: vars.$cv-color-primary;
}

.timeline-card-success {
  border-left-color: vars.$cv-color-secondary;
}

.timeline-card-success:before {
  border-color: vars.$cv-color-secondary;
}

.timeline-card-success:after {
  background-color: vars.$cv-color-secondary;
}

.timeline-card-info {
  border-left-color: pink;
}

.timeline-card-info:before {
  border-color: pink;
}

.timeline-card-info:after {
  background-color: pink;
}

html {
  scroll-behavior: smooth;
}

// ?
.site-title {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

// ?
.nav-link {
  padding: 0;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: vars.$cv-color-dark;
}

// ?
.nav-link:hover,
.nav-link:focus,
.active .nav-link {
  color: vars.$cv-color-dark;
}

.nav-item+.nav-item {
  margin-left: 1rem;
}

.cover {
  border-radius: 10px;
}

.cover-bg {
  background-color: vars.$cv-color-primary;
  border-radius: 10px 10px 0 0;
}

.avatar {
  max-width: 216px;
  max-height: 216px;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

// ?
footer a:not(.nav-link) {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer;
}

.cv-container {
  margin: 1.5rem auto;
  max-width: 90%;
}

@media (min-width: 48em) {

  // ?
  .site-title {
    float: left;
  }

  // ?
  .site-nav {
    float: right;
  }

  .avatar {
    margin-bottom: -80px;
    margin-left: 0;
  }
}


@media print {

  // ?
  body {
    background-color: vars.$cv-color-light;
  }

  // ?
  .container {
    margin: 1rem auto;
    max-width: 90%;
    padding: 0;
  }

  .cover,
  .cover-bg {
    border-radius: 0;
  }

  .cover.shadow-lg {
    box-shadow: none !important;
  }

  .cover-bg {
    padding: 5rem !important;
    padding-bottom: 10px !important;
  }

  .avatar {
    margin-top: -10px;
  }

  .about-section {
    padding: 6.5rem 5rem 2rem !important;
  }

  .skills-section,
  .work-experience-section,
  .education-section {
    padding: 1.5rem 5rem 2rem !important;
  }

  .page-break {
    padding-top: 5rem;
    page-break-before: always;
  }
}

html {
  scroll-behavior: smooth;
}

// ?
.site-title {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

// ?
.nav-link {
  padding: 0;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: vars.$cv-color-dark;
}

// ?
.nav-link:hover,
.nav-link:focus,
.active .nav-link {
  color: vars.$cv-color-dark;
}

// ?
.nav-item+.nav-item {
  margin-left: 1rem;
}

.cover {
  border-radius: 10px;
}

.cover-bg {
  background-color: vars.$cv-color-primary;
  border-radius: 10px 10px 0 0;
}

.avatar {
  max-width: 216px;
  max-height: 216px;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.25rem;
}

.avatar-image {
  border-radius: 0.5rem;
}

// ?
footer a:not(.nav-link) {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 48em) {

  // ?
  .site-title {
    float: left;
  }

  // ?
  .site-nav {
    float: right;
  }

  .avatar {
    margin-bottom: -80px;
    margin-left: 0;
  }
}