<div class="cv-container">
  <div class="cover shadow-lg bg-white">
    <div class="cover-bg p-3 p-lg-4 text-white">
      <div class="row">
        <div class="col-lg-4 col-md-5">
          <div class="avatar d-flex justify-content-center align-items-center bg-white shadow-sm p-1">
            <img class="avatar-image" src="lugia.jpg" width="200" height="200" alt="Foto de Rosa Ana Giménez"/>
          </div>
        </div>
        <div class="col-lg-8 col-md-7 text-center text-md-start">
          <h2 class="h1 mt-2" data-aos="fade-left" data-aos-delay="0">
            Rosa Ana Giménez Salinas
          </h2>
          <p data-aos="fade-left" data-aos-delay="100">
            Desarrolladora Frontend
          </p>
          <div class="d-print-none" data-aos="fade-left" data-aos-delay="200">
            <a class="btn btn-light text-dark shadow-sm mt-1 me-1" href="http://www.linkedin.com/in/rgimenezs" target="_blank">Linkedin</a>
          </div>
        </div>
      </div>
    </div>
    <div class="about-section pt-4 px-3 px-lg-4 mt-5">
      <div class="row">
        <div class="col-md-6">
          <h2 class="h3 mb-3">Sobre mí</h2>
          <p class="about-description">
            Apasionada por la tecnología y los ordenadores desde pequeña, cursé el Grado Medio de Sistemas Microinfor-
            máticos y Redes y el Grado Superior en Programación Multiplataforma aprendiendo a programar en Java, SQL,
            HTML, CSS y JavaScript. Posteriormente me formé como animadora de personajes 3D aprendiendo a trabajar
            con fechas de entrega reducidas recibiendo y aplicando feedbacks profesionales. En la actualidad, retomé los
            estudios de programación, esta vez centrada en el Fronted con HTML, CSS, Typescript y Angular. Destaco en mi
            capacidad de adaptación a equipos de trabajo y por el interés e iniciativa a la hora de investigar y desarrollar mis
            conocimientos para superar los desafíos que se me propongan.
          </p>
        </div>
        <div class="col-md-5 offset-md-1">
          <div class="row mt-2">
            <div class="col-sm-4">
              <div class="pb-1">Email</div>
            </div>
            <div class="col-sm-8">
              <div class="pb-1 text-secondary"><a href="mailto:rogimsal@gmail.com">rogimsal&#64;gmail.com</a></div>
            </div>
            <div class="col-sm-4">
              <div class="pb-1">Dirección</div>
            </div>
            <div class="col-sm-8">
              <div class="pb-1 text-secondary">Asturias, España</div>
            </div>
            <div class="col-sm-4">
              <div class="pb-1">Website</div>
            </div>
            <div class="col-sm-8">
              <div class="pb-1 text-secondary"><a href="www.rgimenezs.dev" target="_blank">www.rgimenezs.dev</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-print-none" />
    <div class="skills-section px-3 px-lg-4">
      <h2 class="h3 mb-3">Habilidades Profesionales</h2>
      <div class="row">
        <!-- Habilidades Frontend -->
        <div class="col-md-6">
          <div class="mb-2">
            <span>HTML</span>
            <div class="progress my-1">
              <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="mb-2">
            <span>CSS</span>
            <div class="progress my-1">
              <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="mb-2">
            <span>Typescript</span>
            <div class="progress my-1">
              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="mb-2">
            <span>Angular</span>
            <div class="progress my-1">
              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <!-- Habilidades Backend / Otras -->
        <div class="col-md-6">
          <div class="mb-2">
            <span>Git</span>
            <div class="progress my-1">
              <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="mb-2">
            <span>JavaScript</span>
            <div class="progress my-1">
              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="mb-2">
            <span>SQL</span>
            <div class="progress my-1">
              <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="mb-2">
            <span>Java</span>
            <div class="progress my-1">
              <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-print-none" />    
    <div class="education-section px-3 px-lg-4 pb-4">
      <h2 class="h3 mb-4">Estudios</h2>
      <div class="timeline">
        <div class="timeline-card timeline-card-success card shadow-sm">
          <div class="card-body">
            <div class="h5 mb-1">
              FP de Grado Medio en Sistemas Microinformáticos y Redes
              <span class="text-muted h6">en IES Grao</span>
            </div>
            <div class="text-muted text-small mb-2">2012 - 2014</div>
            <div>
              <ul>
                <li>Gestión de Redes locales</li>
                <li>Desarrollo de aplicaciones Web con HTML, CSS y JavaScript</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-success card shadow-sm mt-3">
          <div class="card-body">
            <div class="h5 mb-1">
              FP de Grado Superior en Programación Multiplataforma
              <span class="text-muted h6">en Ases Valencia</span>
            </div>
            <div class="text-muted text-small mb-2">2014 - 2016</div>
            <div>
              <ul>
                <li>Desarrollo de aplicaciones Java</li>
                <li>Desarrollo de aplicaciones Android</li>
                <li>Gestión de bases de datos (SQL y SQLite)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-print-none" />
    <div class="page-break"></div>
    <div class="work-experience-section px-3 px-lg-4">
      <h2 class="h3 mb-4">Experiencia Profesional</h2>
      <div class="timeline">
        <div class="timeline-card timeline-card-primary card shadow-sm">
          <div class="card-body">
            <div class="h5 mb-1">
              Prácticas en Backend
              <span class="text-muted h6">en MrJeff</span>
            </div>
            <div class="text-muted text-small mb-2">Marzo 2016 - Junio 2016</div>
            <div>
              <ul>
                <li>Aceso a base de datos desde aplicaciones Java</li>
                <li>Control de errores mediante tests unitarios</li>
                <li>Uso de GIT y GitFlow para control de versiones</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="timeline-card timeline-card-primary card shadow-sm mt-3">
          <div class="card-body">
            <div class="h5 mb-1">
              Prácticas desarrollando bases de datos
              <span class="text-muted h6">en la Universidad Politécnica de Valencia</span>
            </div>
            <div class="text-muted text-small mb-2">Marzo 2014 - Junio 2014</div>
            <div>
              <ul>
                <li>Uso de SQL para realizar consultas sobre bases de datos</li>
                <li>Desarrollo de bases de datos en Microsoft Access</li>
                <li>Optimización de bases de datos</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-print-none" />
    <div class="projects-section px-3 px-lg-4 pb-4">
      <h2 class="h3 mb-4">Proyectos Personales</h2>
      <div class="timeline">
        <div class="timeline-card timeline-card-info card shadow-sm">
          <div class="card-body">
            <div class="h5 mb-1">
              Desarrollo de Aplicaciones Web con Angular
              <span class="text-muted h6">2024 - Presente</span>
            </div>
            <div>
              <ul>
                <li>Desarrollo de una página web Portfolio con Angular 19, SCSS, Signal y RxJS</li>
                <li>Uso de Boostrap para el Layout de la Web</li>
                <li>Creación de una página de inicio y CV responsive empleando la metodología Mobile first</li>
                <li>Uso de la API de World of Warcraft para la creación de un Dashboard con información personalizada</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-print-none" />
  </div>
</div>
