<h3>Formulario de Usuario</h3>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <ul>
    <li>
      <label for="firstName">Nombre:</label>
      <input id="firstName" type="text" formControlName="firstName" />
      @if (userForm.get('firstName')?.invalid &&
      userForm.get('firstName')?.touched) {
      <span style="color: red"> El nombre es obligatorio.</span>
      }
    </li>
    <li>
      <label for="lastName">Apellido:</label>
      <input id="lastName" type="text" formControlName="lastName" />
      @if (userForm.get('lastName')?.invalid &&
      userForm.get('lastName')?.touched) {
      <span style="color: red"> Demasiado largo.</span>
      }
    </li>
    <li>
      <label for="birthday">Fecha de Nacimiento:</label>
      <input id="birthday" type="date" formControlName="birthday" />
    </li>
    <li>
      <label for="dni">DNI:</label>
      <input id="dni" type="text" formControlName="dni" />
    </li>
    <li>
      <button type="submit" [disabled]="userForm.invalid">Enviar</button>
    </li>
  </ul>
</form>
