$nav-color: rgb(255, 255, 255) !default;
$nav-background-color: #303030 !default;
$body-background-color: rgb(27, 27, 27) !default;

$card-bg-color: rgb(95, 98, 112) !default;

//#0a9bb4
$cv-color-primary: #00778e !default;
$cv-color-secondary: #6100b5 !default;
$cv-color-dark: black !default;
$cv-color-light: white !default;