$nav-color: rgb(255, 255, 255) !default;
$nav-background-color: #303030 !default;
$body-background-color: rgb(27, 27, 27) !default;

$card-bg-color: rgb(103, 106, 124) !default;

$cv-color-primary: #0a9bb4 !default;
$cv-color-secondary: #b765ff !default;
$cv-color-dark: black !default;
$cv-color-light: white !default;