$nav-color: rgb(255, 255, 255) !default;
$nav-background-color: #303030 !default;
$body-background-color: rgb(27, 27, 27) !default;

$card-bg-color: rgb(95, 98, 112) !default;

//#0a9bb4
$cv-color-primary: #00778e !default;
$cv-color-one: rgb(255, 47, 81) !default;
$cv-color-two: #9600c3 !default;
$cv-color-three: #009ad2 !default;
$cv-color-four: #00cf5d !default;
$cv-color-dark: black !default;
$cv-color-light: white !default;
