<!-- <div class="cards-container">
  @if (pokemonList().length > 0) {
    <div class="row gx-4 gy-4 itemContainer">
      @for (pokemon of pokemonList(); track pokemon.id) {
        <div class="col-12 col-md-6">
          <app-card
            [imageSrc]="'pokemon.sprites.front_default'"
            [imageAlt]="pokemon.name"
            [title]="pokemon.name"
            [description]="'getTypes(pokemon)'"
          />
        </div>
      }
    </div>
  } @else {
    <app-loading-message></app-loading-message>
  }
</div> -->
<app-poke-table></app-poke-table>
