.form-card {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  width: 100%;
  max-width: 500px; // Asegura que las tarjetas no se estiren más allá de este tamaño
  margin: 1rem 0; // Ajuste para un margen superior e inferior, puedes personalizarlo
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #333;
  }

  .card-content p {
    margin: 0.25rem 0;
    line-height: 1.4;
  }

  a {
    color: #0d6efd;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  @media (min-width: 768px) {
    flex: 1 1 calc(50% - 1rem);
  }
}
.card {
  position: relative;

  .btn-danger {
    z-index: 10;
  }
}
