<div
  class="card position-relative"
  [class.bg-primary-subtle]="data()?.storage === 'session'"
>
  <button
    class="btn btn-danger btn-sm position-absolute top-0 end-0 m-2"
    (click)="onDelete()"
    aria-label="Eliminar"
  >
    <i class="bi bi-trash"></i>
  </button>

  <div class="card-content">
    <p>
      <strong>{{ "form.name" | translate }}:</strong> {{ data()?.firstName }}
      {{ data()?.lastName }}
    </p>
    <p>
      <strong>{{ "form.email" | translate }}:</strong> {{ data()?.email }}
    </p>
    <p>
      <strong>{{ "form.birthdate" | translate }}:</strong>
      {{ data()?.birthDate }}
    </p>
    <p>
      <strong>{{ "form.phone" | translate }}:</strong> {{ data()?.phone }}
    </p>
    @if (data()?.url) {
      <p>
        <strong>{{ "form.url" | translate }}:</strong>
        <a [href]="data()?.url" target="_blank"> {{ data()?.url }}</a>
      </p>
    }
    @if (data()?.aboutYou) {
      <p>
        <strong>{{ "form.aboutyou" | translate }}:</strong>
        {{ data()?.aboutYou }}
      </p>
    }
    <p>
      <strong>{{ "form.storagetype" | translate }}:</strong>
      {{ data()?.storage === "local" ? "LocalStorage" : "SessionStorage" }}
    </p>
  </div>
</div>
