<app-card
  [imageSrc]="'drakiria.png'"
  [title]="'projectshome.wow.name' | translate"
  [description]="'projectshome.wow.description' | translate"
  [link]="'/projects/wow'"
></app-card>
<app-card
  [imageSrc]="'pokeball.webp'"
  [title]="'projectshome.pokedex.name' | translate"
  [description]="'projectshome.pokedex.description' | translate"
  [link]="'/projects/pokedex'"
></app-card>
<app-card
  [imageSrc]="'form.png'"
  [title]="'projectshome.form.name' | translate"
  [description]="'projectshome.form.description' | translate"
  [link]="'/projects/form'"
></app-card>
<app-card
  [imageSrc]="'anim.png'"
  [title]="'projectshome.galery.name' | translate"
  [description]="'projectshome.galery.description' | translate"
  [link]="'/projects/anim'"
></app-card>
