<app-card
  [imageSrc]="'rgsAnime_low.png'"
  [imageAlt]="'AvatarAnime'"
  [title]="'Sobre mí'"
  [description]="
    'Desarrolladora web apasionada por la tecnología. Destaco por mi capacidad para aprender rápidamente, trabajar en equipo y adaptarme a nuevos desafíos. Aunque aún soy junior y con experiencia profesional en desarrollo en formación, mi trayectoria se ha forjado en entornos académicos que simulan el ambiente laboral, con constantes evaluaciones y ajustes. Mi motivación principal es transformar ideas en experiencias web atractivas, aportando creatividad, compromiso y entusiasmo a cada proyecto.'
  "
></app-card>
