<app-card
  [imageSrc]="'rgsAnime_low.png'"
  [imageAlt]="'AvatarAnime'"
  [title]="'Sobre mí'"
  [description]="
    'Desarrolladora web junior, apasionada por la tecnología y el diseño de experiencias digitales. Me adapto con rapidez a nuevos entornos y disfruto trabajando en equipo. Aunque aún estoy dando mis primeros pasos en el mundo profesional, he participado en proyectos académicos que replican dinámicas reales de trabajo, lo que me ha ayudado a crecer con evaluaciones constantes. Me motiva transformar ideas en soluciones web atractivas, siempre con entusiasmo y dedicación.'
  "
></app-card>
