<app-card
  [imageSrc]="'rgsAnime_low.png'"
  [imageAlt]="'AvatarAnime'"
  [title]="'home.aboutme' | translate"
  [description]="'home.description' | translate"
></app-card>
<!-- <app-card
  [imageSrc]="'rgsAnime_low.png'"
  [imageAlt]="'AvatarAnime'"
  [title]="'home.aboutme' | translate"
  [description]="'home.description' | translate"
></app-card>
<app-card
  [imageSrc]="'rgsAnime_low.png'"
  [imageAlt]="'AvatarAnime'"
  [title]="'home.aboutme' | translate"
  [description]="'home.description' | translate"
  [animation]="true"
></app-card
><app-card
  [imageSrc]="'rgsAnime_low.png'"
  [imageAlt]="'AvatarAnime'"
  [title]="'home.aboutme' | translate"
  [description]="'home.description' | translate"
  [animation]="true"
></app-card
><app-card
  [imageSrc]="'rgsAnime_low.png'"
  [imageAlt]="'AvatarAnime'"
  [title]="'home.aboutme' | translate"
  [description]="'home.description' | translate"
  [animation]="true"
></app-card
><app-card
  [imageSrc]="'rgsAnime_low.png'"
  [imageAlt]="'AvatarAnime'"
  [title]="'home.aboutme' | translate"
  [description]="'home.description' | translate"
  [animation]="true"
></app-card
><app-card
  [imageSrc]="'rgsAnime_low.png'"
  [imageAlt]="'AvatarAnime'"
  [title]="'home.aboutme' | translate"
  [description]="'home.description' | translate"
  [animation]="true"
></app-card> -->
