@forward './styles/reset';

@use './styles/variables' as vars;

.layout {
  margin: 0 10rem;
  background-color: transparent;
}

.navbar.custom-nav {
  background-color: vars.$nav-background-color !important;
  /* Aplica el color al texto del navbar */
}

.navbar.custom-nav .nav-link {
  color: vars.$nav-color !important;
  /* Aplica el color a los enlaces del navbar */
}