@forward './styles/reset';

@use './styles/variables' as vars;

.layout {
  margin: 0 10rem;
  background-color: transparent;
}

.navbar.custom-nav {
  background-color: vars.$nav-background-color !important;
}

.navbar.custom-nav .nav-link {
  color: vars.$nav-color !important;
}

.dropdown-menu.custom-dropdown {
  background-color: vars.$nav-background-color !important;
}

.dropdown-item.custom-dropdown-item {
  color: vars.$nav-color !important;
}

.dropdown-item.custom-dropdown-item:hover {
  background-color: blue !important;
}