@if (item()) {
  <div class="wow-card d-flex flex-column flex-md-row w-100">
    <div class="imgContainer">
      <img [src]="item()?.data?.avatarSrc" [alt]="item()?.name" />
    </div>
    <div
      class="infoContainer flex-grow-1 d-flex flex-column justify-content-start px-3 py-2"
    >
      <div>
        <h2>{{ item()?.name }}</h2>
        <span>{{ item()?.realmName }}</span>
        <p class="specContainer">
          <img
            [src]="item()?.data?.avatarSrc"
            [alt]="item()?.data?.className"
          />
          <img [src]="item()?.data?.avatarSrc" [alt]="item()?.data?.specName" />
          <span>{{ item()?.data?.specName }}</span>
        </p>
      </div>
      <p class="mb-0">
        iLvl: {{ item()?.data?.ilvl }} | Score: {{ item()?.data?.score }}
      </p>
    </div>
  </div>
}
