@use "../../../styles/variables" as vars;

p,
h2 {
  color: vars.$cv-color-light;
}

.nameContainer h2 {
  margin-bottom: 0rem;
  font-size: clamp(1.2rem, 3vw, 1.8rem); // aumentamos el mínimo
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  text-align: center;
  @media (min-width: 768px) and (max-width: 903px) {
    font-size: 0.93rem;
  }
  @media (min-width: 768px) {
    text-align: left;
  }
}
.title {
  color: transparentize($color: #ffffff, $amount: 0.5);
}

.wow-card {
  background-color: vars.$card-bg-color;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    min-height: 250px;
  }
}

.imgContainer {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  @media (max-width: 767.98px) {
    max-width: 100%;
    img {
      width: 100%;
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
}

.nameContainer {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; // centrado horizontal

  @media (min-width: 768px) {
    align-items: flex-start; // en tablets y más grandes, lo alineamos a la izquierda
  }
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;
  text-align: center;
  padding-left: 0;

  @media (min-width: 768px) {
    align-items: flex-start;
    text-align: left;
    padding-left: 1rem;
    max-width: calc(100% - 160px); // ajusta según el ancho de tu imagen
    overflow-wrap: break-word;
  }
}

.specContainer {
  margin: 0.5rem auto;

  img {
    width: 30px;
    height: 30px;
    margin: 0 3px;
  }
}
